<a href="https://colab.research.google.com/github/fedor44/Sentiment_for_Stock_Investment_Strategy/blob/main/Untitled48.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Yahoo Finance에서 제공 금융 데이터 로드
import yfinance as yf

# 2023 미국주식 시가총액 순위 Top 10 (2023.05.30 기준)
# 데이터 출처 Yahoo Finance
# 금융 데이터 로드
tickers = ['AAPL','MSFT','GOOGL','AMZN','NVDA','META','TSLA', 'PEP','AVGO','ASML']
start = '2013-01-01'
end = '2023-05-30'
df_ticker_return = pd.DataFrame()
for ticker in tickers:
    ticker_yf = yf.Ticker(ticker)
    if df_ticker_return.empty:
        df_ticker_return = ticker_yf.history(start = start, end = end)
        df_ticker_return['ticker']= ticker 
    else:
        data_temp = ticker_yf.history(start = start, end = end)
        data_temp['ticker']= ticker 
        df_ticker_return = df_ticker_return.append(data_temp)

df_ticker_return.head()

<ipython-input-2-0334b8ad7e32>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-2-0334b8ad7e32>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-2-0334b8ad7e32>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-2-0334b8ad7e32>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-2-0334b8ad7e32>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-2-0334b8ad7e32>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-2-0334b8ad7e32>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-2-0334b8ad7e32>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-2-0334b8ad7e32>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
Date,,,,,,,,
2013-01-02 00:00:00-05:00,16.960556,16.996694,16.587243,16.813864,560518000,0.0,0.0,AAPL
2013-01-03 00:00:00-05:00,16.778640,16.833458,16.567942,16.601629,352965200,0.0,0.0,AAPL
2013-01-04 00:00:00-05:00,16.444526,16.495364,16.103367,16.139198,594333600,0.0,0.0,AAPL
2013-01-07 00:00:00-05:00,15.986078,16.209638,15.777831,16.044266,484156400,0.0,0.0,AAPL
2013-01-08 00:00:00-05:00,16.206875,16.288949,15.963104,16.087439,458707200,0.0,0.0,AAPL

In [75]:
import requests
from bs4 import BeautifulSoup
import json
from datetime import datetime
import pandas as pd

exit_flag = False
df = pd.DataFrame(columns=['ticker', 'headline', 'publishDate'])
i = 1
tickers = ['AAPL','MSFT','GOOGL','AMZN','NVDA','META','TSLA', 'PEP','AVGO','ASML']

while True:
  # 첫번째 while 루프 페이지 번호 증가
  if exit_flag:
    break
    
  url = "https://seekingalpha.com/market-news"
  url = url + "?page=" + str(i)
  response = requests.get(url)
  page = requests.get(url)

  soup = BeautifulSoup(page.text, 'html.parser')
  scripts = soup.find_all('script')

  # 로드할 데이터 시간 (2013년 1월 1일까지의 데이터 로드)
  timeLimit = datetime.strptime('2023-01-01', '%Y-%m-%d')

  for j in range(0, 24):
    # 두번째 for 루프 json 내 marketNews, response, data 배열 순회

    for script in scripts:
      # 세번째 for 루프 로드된 scripts 를 라인별로 순회
      if 'window.SSR_DATA =' in script.text:
        json_data = script.text.split('window.SSR_DATA = ')[1]
        json_data = json_data[:-1]
        data = json.loads(json_data)

        headline = data['marketNews']['response']['data'][j]['attributes']['title']
        newsId = ""
        
        if len(data['marketNews']['response']['data'][j]['relationships']['primaryTickers']['data']) == 0:
          newsId = ""
        else:
          newsId = data['marketNews']['response']['data'][j]['relationships']['primaryTickers']['data'][0]['id']

        publishDate = data['marketNews']['response']['data'][j]['attributes']['publishOn']

        publishTime_naive = datetime.fromisoformat(publishDate)
        publishTime_naive = publishTime_naive.strftime('%Y-%m-%d %H:%M:%S')
        publishTime_naive = datetime.strptime(publishTime_naive, '%Y-%m-%d %H:%M:%S')

        if timeLimit > publishTime_naive:          
          exit_flag = True
          break

        if exit_flag:
          break
        count = 0
        stock = ""
        ticker = ""
        # id 기반으로 ticker 찾기
        # Top10 항목에 포함된 주식으로만 데이터 프레임을 구축
        while True:
          if newsId == "":
            break

          if len(data['marketNews']['response']['included']) == 0:
            stock = ""
          else:
            stock = data['marketNews']['response']['included'][count]['id']
            
          if newsId == stock:
            ticker = data['marketNews']['response']['included'][count]['attributes']['name']
            if ticker in tickers:
              new_row = pd.DataFrame({'ticker': [ticker], 'headline': [headline], 'publishDate': [publishTime_naive]})
              df = pd.concat([df, new_row])          
            break
          count = count + 1

      # 세번째 for 루프 종료
    
    # 두번째 for 루프 종료
  
  i = i + 1
  # 첫번째 while 루프 종료

df

,ticker,headline,publishDate
0,AMZN,Amazon mulls offering mobile service to Prime ...,2023-06-02 09:35:38
0,AVGO,"4 stocks to watch on Friday: Broadcom, Lululem...",2023-06-02 08:43:52
0,AVGO,"Broadcom Q2 results, Q3 revenue guidance beat ...",2023-06-01 16:53:08
0,AVGO,Broadcom Non-GAAP EPS of $10.32 beats by $0.18...,2023-06-01 16:19:03
0,MSFT,Microsoft in deal with Nvidia-backed CoreWeave...,2023-06-01 14:40:10
...,...,...,...
0,TSLA,Elon Musk's Tesla hit the skids in 2022. Here ...,2023-01-03 07:30:00
0,AAPL,Apple rises as key iPhone manufacturing facili...,2023-01-03 07:15:25
0,TSLA,Tesla China boss Tom Zhu to take charge of US ...,2023-01-03 00:45:36
0,TSLA,"Tesla sets record with 405,278 deliveries in Q...",2023-01-02 12:28:05
0,META,'Take the money and run': top calls on META in...,2023-01-02 12:00:00